---
name: Check Collection

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:

  build:
    name: Check package collection
    runs-on: ubuntu-latest
    env:
      PACK_DIR: /root/.pack
    strategy:
      fail-fast: false
    container: ghcr.io/stefan-hoeck/idris2-pack:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Make output
        run: mkdir -p "$HOME/output"
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install --yes libgsl-dev
          apt-get install --yes libpq-dev
          # ncurses-idris:
          apt-get install --yes libncurses-dev libc6-dev
          # idrisGL:
          apt-get install --yes libsdl1.2-dev libsdl-image1.2-dev libsdl-mixer1.2-dev libsdl2-image-dev libsdl2-ttf-dev libsdl2-gfx-dev libsdl2-mixer-dev
      - name: Use latest pack commit
        run: pack update
      - name: Install pack-admin
        run: pack --no-prompt install-app pack-admin
      - name: Copy HEAD
        run: cp collections/HEAD.toml "$PACK_DIR/db/HEAD.toml"
      - name: Extract Collection from HEAD
        run: pack-admin --no-prompt extract-from-head "$PACK_DIR/db/testdb.toml"
      - name: Switch to testdb
        run: pack --no-prompt switch "testdb"
      - name: Re-Install pack-admin
        run: pack --no-prompt install-app pack-admin
      - name: Check Collection
        run: pack-admin --no-prompt check-collection "$HOME/output/"
      - name: Fail if missing
        run: test -f "$HOME/output/testdb.toml"
